* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  position: relative;
}

.achievements {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0B0B0B;
  gap: 4rem;
}

.achievements-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1C1C1C;
  border-radius: 4px;
  position: relative;
}

.achievements-card--hide {
  display: none;
}

.achievements__heading {
  position: relative;
  color: transparent;
  font-size: 5rem;
  font-familY: Nunito;
  font-weight: 400;
  margin: 6rem 0 2rem 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  line-height: 5rem;
}

.achievements__heading::before {
  position: absolute;
  content: "";
  width: 20rem;
  height: 3px;
  background-color: #FFAC33;
  bottom: 0;
  right: 0;
}

.achievements__load-down {
  margin-left: 1rem;
}

.achievements__load-up {
  margin-left: 1rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.achievements__load {
  font-size: 2rem;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
  cursor: pointer;
}

.card__content-container {
  width: 16rem;
  height: 17.5rem;
}

.card__fest {
  padding: 1.4rem 0 1rem 1.4rem;
}

.card__date {
  padding: 1.2rem 0 0 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.card__position {
  height: 6rem;
  background-color: #222222;
  width: 200%;
}

.card__image-container {
  width: 16rem;
  height: 17.5rem;
}

.card__image-container--iit-d {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 131, 245, 0.2)), to(rgba(195, 131, 245, 0.2))), url("./images/achievements-iitd.jpg");
  background: linear-gradient(0deg, rgba(195, 131, 245, 0.2), rgba(195, 131, 245, 0.2)), url("./images/achievements-iitd.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  border-radius: 0 4px 4px 0;
  background-size: cover;
  background-position: center;
}

.card__image-container--iit-m {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(72, 35, 101, 0.58)), to(rgba(72, 35, 101, 0.58))), url("./images/achivements-iitm.jpg");
  background: linear-gradient(0deg, rgba(72, 35, 101, 0.58), rgba(72, 35, 101, 0.58)), url("./images/achivements-iitm.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  border-radius: 0 4px 4px 0;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.card__image-container--nit-j {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 131, 245, 0.2)), to(rgba(195, 131, 245, 0.2))), url("./images/achievements-nitj.jpg");
  background: linear-gradient(0deg, rgba(195, 131, 245, 0.2), rgba(195, 131, 245, 0.2)), url("./images/achievements-nitj.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  border-radius: 0 4px 4px 0;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.card__image-container--srm {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 131, 245, 0.3)), to(rgba(195, 131, 245, 0.3))), url("./images/achievements-srm.jpg");
  background: linear-gradient(0deg, rgba(195, 131, 245, 0.3), rgba(195, 131, 245, 0.3)), url("./images/achievements-srm.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  border-radius: 0 4px 4px 0;
  background-size: cover;
  background-position: center;
}

.card__image-container--nitk {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 131, 245, 0.58)), to(rgba(195, 131, 245, 0.58))), url("./images/achievements-nitk.jpg");
  background: linear-gradient(0deg, rgba(195, 131, 245, 0.58), rgba(195, 131, 245, 0.58)), url("./images/achievements-nitk.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  border-radius: 0 4px 4px 0;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.card__image-container--iitr {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 131, 245, 0.58)), to(rgba(195, 131, 245, 0.58))), url("./images/achievements-iitr.png");
  background: linear-gradient(0deg, rgba(195, 131, 245, 0.58), rgba(195, 131, 245, 0.58)), url("./images/achievements-iitr.png");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  border-radius: 0 4px 4px 0;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.card__image-container--ymca {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 131, 245, 0.58)), to(rgba(195, 131, 245, 0.58))), url("./images/achievements-ymca.jpg");
  background: linear-gradient(0deg, rgba(195, 131, 245, 0.58), rgba(195, 131, 245, 0.58)), url("./images/achievements-ymca.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  border-radius: 0 4px 4px 0;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.card__image-container--mmu {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 131, 245, 0.58)), to(rgba(195, 131, 245, 0.58))), url("./images/achievements-mmu.jpg");
  background: linear-gradient(0deg, rgba(195, 131, 245, 0.58), rgba(195, 131, 245, 0.58)), url("./images/achievements-mmu.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  border-radius: 0 4px 4px 0;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.card__image-container--nitk15 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 131, 245, 0.58)), to(rgba(195, 131, 245, 0.58))), url("./images/achievements-nitk15.png");
  background: linear-gradient(0deg, rgba(195, 131, 245, 0.58), rgba(195, 131, 245, 0.58)), url("./images/achievements-nitk15.png");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  border-radius: 0 4px 4px 0;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.card__image-container--nitk14 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 131, 245, 0.58)), to(rgba(195, 131, 245, 0.58))), url("./images/achievements-nitk14.png");
  background: linear-gradient(0deg, rgba(195, 131, 245, 0.58), rgba(195, 131, 245, 0.58)), url("./images/achievements-nitk14.png");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  border-radius: 0 4px 4px 0;
  background-size: 225%;
  background-position: center;
  background-blend-mode: color;
}

.card__image-container--nitk13 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 131, 245, 0.58)), to(rgba(195, 131, 245, 0.58))), url("./images/achievements-nitk13.jpg");
  background: linear-gradient(0deg, rgba(195, 131, 245, 0.58), rgba(195, 131, 245, 0.58)), url("./images/achievements-nitk13.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  border-radius: 0 4px 4px 0;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.card__image-container--nsit {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 131, 245, 0.58)), to(rgba(195, 131, 245, 0.58))), url("./images/achievements-nsit.jpg");
  background: linear-gradient(0deg, rgba(195, 131, 245, 0.58), rgba(195, 131, 245, 0.58)), url("./images/achievements-nsit.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  border-radius: 0 4px 4px 0;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.card__image-container--thapar {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 131, 245, 0.58)), to(rgba(195, 131, 245, 0.58))), url("./images/achievements-thapar.jpeg");
  background: linear-gradient(0deg, rgba(195, 131, 245, 0.58), rgba(195, 131, 245, 0.58)), url("./images/achievements-thapar.jpeg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  border-radius: 0 4px 4px 0;
  background-size: 150%;
  background-position: center;
  background-blend-mode: color;
}

.card__image-container--iitr12 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 131, 245, 0.58)), to(rgba(195, 131, 245, 0.58))), url("./images/achievements-iitr12.jpg");
  background: linear-gradient(0deg, rgba(195, 131, 245, 0.58), rgba(195, 131, 245, 0.58)), url("./images/achievements-iitr12.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  border-radius: 0 4px 4px 0;
  background-size: 150%;
  background-position: center;
  background-blend-mode: color;
}

.fest-location {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  line-height: 2rem;
  color: #BDBDBD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  letter-spacing: 0.005em;
}

.fest-location-logo {
  padding-right: 5px;
}

.fest-name {
  color: rgba(255, 255, 255, 0.4);
  font-family: Nunito;
  font-style: italic;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: -0.05em;
  margin-top: -3px;
  padding-left: 2rem;
}

.position {
  display: block;
  padding: 1rem 0 0 1.4rem;
  color: #FFEB33;
  line-height: 4.3rem;
  font-size: 3.2rem;
  font-familY: Nunito;
  letter-spacing: -0.05em;
}

.position-superscript {
  font-size: 1.6rem;
  margin-top: -10px;
}

.date {
  display: inline-block;
}

.date-month {
  font-family: 'Bebas Neue', cursive;
  color: rgba(255, 255, 255, 0.4);
  font-size: 2rem;
  line-height: 2.4rem;
}

.date-year {
  font-family: 'Bebas Neue', cursive;
  color: #B7B7B7;
  font-size: 3rem;
  line-height: 3.6rem;
}

.youtube-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-25%, -35%);
          transform: translate(-25%, -35%);
}

.youtube-button object {
  pointer-events: none;
}

.youtube__container {
  aspect-ratio: 16/9;
}

.youtube__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.youtube__video--hide {
  display: none !important;
}

.youtube__close {
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  cursor: pointer;
  z-index: 200;
}

.youtube__close object {
  pointer-events: none;
}

.youtube__video iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.upcoming-events {
  background-color: #0E0E0E;
}

.upcoming-events__heading-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upcoming-events__heading {
  display: inline-block;
  position: relative;
  color: transparent;
  font-size: 4rem;
  font-familY: Nunito;
  font-weight: 400;
  margin: 4rem 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  line-height: 5rem;
}

.upcoming-events__heading::before {
  position: absolute;
  content: "";
  width: 20rem;
  height: 3px;
  background-color: #FFAC33;
  bottom: 0;
  right: 0;
}

.inductions__image {
  width: 100%;
  height: 30rem;
  background-image: url("./images/induction-bg.jpg");
  background-size: 110%;
  background-position: center center;
}

.inductions__content {
  position: relative;
  width: 32.5rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.inductions__heading {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: 'Nunito';
  font-size: 3.2rem;
  font-weight: 900;
  padding-top: 5rem;
}

.inductions__info {
  padding: 3rem 0;
}

.inductions__induction-process {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 1rem;
}

.inductions__induction-process a {
  color: #FFAC33;
  text-decoration: underline;
}

.inductions__register {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 3rem 0 5rem 0;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-family: Nunito;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  background: #FFAC33;
  outline: none;
  border: none;
  border-radius: 4px;
  color: #000000;
  text-decoration: none;
}

.inductions__highlight {
  color: #FFAC33;
}

.inductions__date {
  position: absolute;
  right: -2rem;
  top: -2.5rem;
  display: inline-block;
  background: rgba(132, 132, 132, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  mix-blend-mode: normal;
  border-radius: 4px;
  padding: 1rem 2.5rem;
  color: #FFAC33;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: 'Lato';
  font-weight: 700;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F3F3F3;
}

.footer__logo {
  padding: 4.4rem 0 3rem 0;
  height: 6rem;
}

ul.footer__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

a.footer__item {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Nunito;
  font-size: 1.4rem;
  color: #000;
  letter-spacing: 1px;
}

.legacy {
  position: relative;
}

.legacy__bg-image {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.legacy__heading {
  padding-top: 10rem;
  line-height: 6.82rem;
  color: #D7CCCC;
  font-family: 'Bebas Neue';
  font-size: 5rem;
  text-align: center;
}

.highlight {
  color: #FFAC33;
}

.congratulate {
  border: none;
  background-color: #FFEB33;
  font-family: Nunito;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 7rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.congratulate__confetti-icon {
  padding: 0 7px;
}

.congratulate:active {
  background-color: #FFAC33;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: linear-gradient(257deg, rgba(0, 0, 0, 0.595) 0%, rgba(0, 0, 0, 0.7) 94.98%);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  position: fixed;
  z-index: 9;
}

.navigation__logo {
  padding-left: 2rem;
}

.navigation__ham-menu {
  padding-right: 2rem;
}

.hero {
  height: 125rem;
  background: linear-gradient(257deg, rgba(0, 0, 0, 0.595) 0%, rgba(0, 0, 0, 0.7) 94.98%);
}

.hero__img {
  height: 34rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(195, 131, 245, 0.2)), to(rgba(195, 131, 245, 0.2))), url("./images/hero-bg.jpg");
  background: linear-gradient(0deg, rgba(195, 131, 245, 0.2), rgba(195, 131, 245, 0.2)), url("./images/hero-bg.jpg");
  background-position: center center;
  background-size: cover;
}

.hero__content {
  top: -10rem;
  position: relative;
  width: 100%;
}

.hero__crew {
  height: 13rem;
  background: linear-gradient(257deg, rgba(0, 0, 0, 0.595) 0%, rgba(0, 0, 0, 0.7) 94.98%);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__crew-name {
  text-align: center;
  font-family: 'Bebas Neue';
  padding-top: 2rem;
  line-height: 3.8rem;
  font-size: 3.2rem;
  background: linear-gradient(94.23deg, #FFCC4D 0.48%, #F58529 96.86%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero__tagline-container {
  height: 13rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__tagline-layer {
  position: absolute;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  height: 13rem;
  width: 100%;
}

.hero__tagline {
  z-index: -1;
  position: absolute;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 2rem;
  line-height: 3.75rem;
  font-weight: 900;
  font-size: 3.2rem;
  color: #FFCC4D;
  letter-spacing: -0.005em;
}

.hero__cta {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  cursor: pointer;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-family: Nunito;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  background: #FFAC33;
  outline: none;
  border: none;
  border-radius: 4px;
  color: #000000;
  text-decoration: none;
}

.btn--events {
  width: 40%;
  margin-right: 3rem;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn--gallery {
  width: 40%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  -webkit-box-shadow: inset 0px 0px 0px 1px #FFAC33;
          box-shadow: inset 0px 0px 0px 1px #FFAC33;
  color: #FFAC33;
}

.socials {
  position: fixed;
  height: 5rem;
  width: 100%;
  bottom: 0;
  background: #1C1C1Cb3;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us {
  position: fixed;
  height: 4.6rem;
  width: 4.6rem;
  border-radius: 50%;
  bottom: 6.2rem;
  right: 1.6rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ECECEC;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.goto-top {
  position: fixed;
  height: 4.6rem;
  width: 4.6rem;
  border-radius: 50%;
  bottom: 6.2rem;
  right: 1.6rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ECECEC;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.form-input label {
  color: #fff;
  font-size: 1.4rem;
  position: absolute;
  left: 0;
  top: -30%;
  padding: 0 .3rem;
  margin-left: 1rem;
  background-color: #1C1C1C;
}

.form-input input, textarea {
  padding-left: 2rem;
  width: 35rem;
  height: 4.5rem;
  border: none;
  border: 1px solid #fff;
  background-color: #1C1C1C !important;
  color: #fff;
  font-size: 1.6rem;
}

.contact-form {
  background-color: #1C1C1C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  width: 100%;
  z-index: 15;
  height: 100vh;
}

.contact-heading {
  color: #F3F3F3;
  padding: 3rem 0 1rem 0;
  font-size: 3rem;
}

.form-input {
  position: relative;
}

input:focus, input:active, input:focus-visible, textarea:focus, textarea:active, textarea:focus-visible {
  border: none;
  outline: none;
  border: 1px solid #FFAC33;
}

textarea {
  padding-top: 1.5rem;
  height: 10rem;
  font-family: 'Lato';
}

textarea + label {
  top: -14% !important;
}

input:focus-visible + label {
  -webkit-transform: scale(0.8) translate(-1.6rem, -1.5rem);
          transform: scale(0.8) translate(-1.6rem, -1.5rem);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

textarea:focus-visible + label {
  -webkit-transform: scale(0.8) translate(-1.6rem, -1.5rem);
          transform: scale(0.8) translate(-1.6rem, -1.5rem);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  padding: 4rem 0;
}

.form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.instagram-feed {
  width: 36rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12rem)[3];
      grid-template-columns: repeat(3, 12rem);
      grid-template-areas: "inductions inductions inductions" "behind the scenes" "posts posts posts";
  gap: 1rem 0;
}

.instagram-feed__heading {
  text-align: center;
  color: transparent;
  font-size: 5rem;
  font-familY: Nunito;
  font-weight: 400;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  line-height: 5rem;
  position: relative;
  top: -2%;
}

.copyright {
  font-family: 'Nunito';
  padding-bottom: 7.7rem;
  font-size: 1.2rem;
  color: #686767;
}

.inductions, .behind, .the, .scenes, .post1, .post2, .post3 {
  cursor: pointer;
}

.inductions {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: inductions;
  width: 36rem;
  -webkit-box-shadow: 0px 0px 0px 2px #FFAC33;
          box-shadow: 0px 0px 0px 2px #FFAC33;
}

.behind {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: behind;
  width: 12rem;
}

.inductions::after {
  content: url("./images/cib_instagram.svg");
  position: absolute;
  z-index: 1000;
  width: 2rem;
  height: 2rem;
}

.the {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: the;
  width: 12rem;
}

.scenes {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: scenes;
  width: 12rem;
}

.posts {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: posts;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post1 {
  width: 11rem;
  -webkit-box-shadow: 0px 0px 0px 2px #FFAC33;
          box-shadow: 0px 0px 0px 2px #FFAC33;
}

.post2 {
  width: 11rem;
  -webkit-box-shadow: 0px 0px 0px 2px #FFAC33;
          box-shadow: 0px 0px 0px 2px #FFAC33;
}

.post3 {
  width: 11rem;
  -webkit-box-shadow: 0px 0px 0px 2px #FFAC33;
          box-shadow: 0px 0px 0px 2px #FFAC33;
}

.grateful {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  font-familY: Nunito;
  font-weight: 400;
  color: #F3F3F3;
  padding: 4rem 0;
}

.bold {
  font-weight: 700;
}

.inductions-page {
  font-family: 'Lato';
  background-color: #1C1C1C;
  color: #F3F3F3;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: .5px;
}

.info {
  margin: 0 auto;
  padding: 10rem 0;
  width: 36rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.info li {
  padding-bottom: 2rem;
}

.hide {
  display: none !important;
}

.instagram__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.instagram__post--hide {
  display: none !important;
}

.instagram__close {
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  cursor: pointer;
  z-index: 200;
}

.instagram__close object {
  pointer-events: none;
}

.page-404__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  height: 80rem;
}

.page-404__heading {
  font-size: 20rem;
  line-height: 20rem;
  padding-top: 8rem;
}

.phone-number {
  display: block;
}

.phone-number:not(:last-child) {
  padding-top: 3rem;
}

.phone-number a {
  color: #FFAC33;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1C1C1C inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}

.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFF;
}

.history__founder {
  width: 16rem;
  border-radius: 50%;
}

.history__content {
  width: 36rem;
  font-size: 1.6rem;
  text-align: center;
  line-height: 3rem;
  margin-bottom: 6rem;
  letter-spacing: .5px;
}

.history__heading {
  display: inline-block;
  position: relative;
  color: transparent;
  font-size: 4rem;
  font-familY: Nunito;
  font-weight: 400;
  margin: 4rem 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  line-height: 5rem;
}

.history__heading::before {
  position: absolute;
  content: "";
  width: 10rem;
  height: 3px;
  background-color: #FFAC33;
  bottom: 0;
  right: 0;
}

.history__founders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  padding-bottom: 4rem;
}

figcaption {
  padding-top: 1.2rem;
  text-align: center;
  font-size: 1.4rem;
}

figcaption a {
  color: #F3F3F3;
}

.dance {
  font-size: 2.5rem;
  line-height: 6rem;
}

.or {
  font-size: 2.5rem;
  color: white;
  padding-bottom: 3rem;
}

.mail-us {
  font-size: 1.6rem;
  color: white;
  padding-bottom: 3rem;
  font-weight: 900;
}

.mail-us a {
  color: #FFAC33;
}
/*# sourceMappingURL=suc.css.map */